@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap%22");
html{
}
body{
   font-family: 'Raleway', sans-serif;
   overflow-x: hidden;
   margin: 0;
   width: 100%;
}
/* header */

#logo_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booki{
    width: 140px;
}
#header_li p{
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
#search_bar2{
    display: none;
}
#search_bar{
    outline: none;
    border-radius: 10px;
    display:flex;
    height: 50px;
}
#searchbar{
    border: 1px solid #F2F2F2;
    width: 150px;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;  
}
#searchbar::placeholder{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;  
}
button{
    height: 50px;
    width: 100px;
    border: none;
    color: white;
    background-color:#0065FC;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px; 
    font-family: inherit;
    font-weight: 600;
}
.i_search_bar{
    min-width: 50px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    background-color: #F2F2F2;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: #F2F2F2;
}
#header_li a{
    display: flex;
    float: right;
    margin-left: 60px;
    padding-top: 60px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}
#header_li a:hover{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 59px;
}
header{
    position: relative;
}
.text_header{
    margin-top: 40px;
}
.text_header h2{
    font-weight: 800;
}
/* FILTRES */

.titre_liste{
    align-self: center;
    font-weight: 600;
}
#div_filtres{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}
.list_filtres{
    display: flex;
    padding-left: 0px;
    font-weight: 600;

}

.name_filter{
    padding-left: 15px;
    padding-right: 15px;
}
.list_filtres>li{
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 48px;
    margin-left: 30px;
}
.filtre{
    margin-left: -3px;
    border-radius: 30px;
    background-color: #DEEBFF;
    width: 50px;
    display: flex;
    justify-content: center;
    color: #0065FC;
}
.info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.icon_info{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 80px;
    width: 30px;
    height: 30px;
    color: #0065FC;
    margin-right: 20px;
}
.icon_info i{
    padding: 10px;
}
.filtre i{
    margin: 17px;
}
.list_flitres>img{
    color: #0065FC;
}
.titre{
    width: 100%;
}
/* Hebergement */

.image_hebergement{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 105px;
    object-fit : cover;
}
.Hebergement_card {
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    height: 180px;
    box-shadow: 5px 5px 13px #d1d1d1;
	width: 100%;
}
.Hebergement_card:hover{
    transform: scale(1.1);
    background-color: #DEEBFF;
    border:5px solid #DEEBFF;
    }
.info_hebergement{
    width: 100%;
    font-size: 17px;
}
#Hebergement{
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    justify-content: space-between;
    padding: 15px;
    margin-right: 25px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.text_hebergement{
    padding-left: 7px;
    line-height: 5px;
	width: 100%;
}
#Hebergement_middle{
	display: contents;
	width: 100%;
}
#Hebergement_part1{
    display: flex;
    flex-direction: column;
	width: 30%;
	padding-left: 15px;
	padding-top: 15px;
}
#Hebergement_part2{
    display: flex;
    flex-direction: column;
	width: 30%;
	padding-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
#Hebergement_part3{
    display: flex;
    flex-direction: column;
	width: 30%;
	padding-right: 15px;
	padding-top: 15px;
}
#hebergement_1{
	width: -webkit-fill-available;
}
#hebergement_2{
	width: -webkit-fill-available;
	margin-top: 20px;
}
#hebergement_3{
	width: -webkit-fill-available;
}
#hebergement_4{
	width: -webkit-fill-available;
	margin-top: 20px ;
}
#hebergement_5{
	width: -webkit-fill-available;
}
#hebergement_6{
	width: -webkit-fill-available;
	margin-top: 20px;
}
.blue_star{
    color: #0065FC;
}
.grey_star{
    color: #F2F2F2;
}
.bold{
    font-weight: 700;
}
.bold:not(strong){
    font-size: 12px;    
}
/* Populaire */

#Populaires{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 17px;
    width: 100%;
	max-width: 30%;
}
#Populaires h2{
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 20px;
}
#hebergement_Populaire{
    display: flex;
}
#titre_populaire{
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}
.populaire_card{
    display: flex;
    background-color: white;
    margin: 15px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 5px 5px 13px #d1d1d1;
    width: auto;
}
.populaire_card:hover {
    background-color: #DEEBFF;
    border: 5px solid #DEEBFF;
    transform: scale(1.1);
  }
.image_populaire{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	max-width: 50%;
    height: 115px;
    object-fit: cover;
    width: -webkit-fill-available;
}  
.populaire_text{
    margin: 10px;
    margin-top: 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#titre_populaire i{
    margin-left: 17px;
    margin-top: 17px;
}

/* Activités */

.Activity{
	margin: auto;
}
.Activititre{
    width: 100%;
    margin-top: 35px;
    margin-bottom: 0;
}
#Activity_card{
    display: flex;
    margin-top: 20px;
	width: 100%;
}
.column{
    width: -webkit-fill-available;
    margin-right: 30px;
}
#Activite_1{
	width: -webkit-fill-available;
    margin-left: 0;
}
#Activite_2{
    height: 205px;    
    width: -webkit-fill-available;
    margin-bottom: 30px;
}
#Activite_3{
	width: -webkit-fill-available;
    height: 160px;
}
#Activite_4{
	width: -webkit-fill-available;
    height: 397px;
}
#Activite_5{
	width: -webkit-fill-available;
    height: 178px;
    margin-bottom: 30px;
}
#Activite_6{
	width: -webkit-fill-available;
    height: 189px;
}
.card{
    border-radius: 15px;
    box-shadow: 5px 5px 13px #d1d1d1;
}
.card:hover{
    transform: scale(1.1);
}
.card p{
    display: flex;
    justify-content: center;
    text-align: center;
}

.img_activity1{
    width: 100%;
    height: 351px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
.img_activity2{
    width: 100%;
    height: 164px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
.img_activity3{
    width: 100%;
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
.img_activity4{
    width: 100%;
	min-width: 250px;
    height: 351px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
.img_activity5{
    width: 100%;
    height: 135px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
.img_activity6{
    width: 100%;
    height: 146px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
/* Footer */
footer{
    background-color: #F2F2F2;
    margin-top: 50px;
    padding-bottom: 20px;
	padding-top: 30px;
    line-height: 30px;
	width: 100%;
}
#footer_li{
    display: flex;
    justify-content: space-around;
}
footer ul{
    list-style: none;
    padding-left: 0;
}
footer p{
    font-weight: 800;
}
a{
    color: black;
    text-decoration: none;
}