@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap%22");
html{
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
body{
   font-family: 'Raleway', sans-serif;
}
#div_body{
        margin: auto;
        width: 1440px;
}
/* header */
#logo_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booki{
    width: 130px;
}
#header_li p{
    margin-top: 0px;
}

#search_bar{
    outline: none;
    border-radius: 10px;
    display:flex;
    height: 50px;

}
#searchbar{
    border: 1px solid #F2F2F2;
    width: 200px;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;  
}
#searchbar::placeholder{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;  
}
button{
    height: 50px;
    width: 100px;
    border: none;
    color: white;
    background-color:#0065FC;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px; 
    font-family: inherit;
    font-weight: 600;   
}
.i_search_bar{
    width: 50px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    background-color: #F2F2F2;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: #F2F2F2;
}
#header_li a{
    display: flex;
    float: top;
    float: right;
    margin-right: 60px;
    color: black;
    text-decoration: none;

}
#header_li a:hover{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

header{
    position: relative;
}
.text_header{
    line-height: 10px;
    margin-top: 40px;
}
.text_header h2{
    font-weight: 800;
}

/* Hebergement */
.image_hebergement{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    height: 150px;
    object-fit : cover;
}
.Hebergement_card { 

    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    height: 250px;
    box-shadow: 5px 5px 13px #d1d1d1;
    }
.info_hebergement{
    width: 100%;
}
#Hebergement{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    justify-content: space-between;
    padding: 30px;
    margin-right: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

.text_hebergement{
    padding-left: 10px;
    line-height: 5px;
}

#Hebergement_part1{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#Hebergement_part2{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 15px;
}
#hebergement_1{
    margin-right: 20px;
}
#hebergement_2{
    margin-right: 10px;
    margin-left: 10px;
}
#hebergement_3{
    margin-left: 20px;
}
#hebergement_4{
    margin-right: 20px;
}
#hebergement_5{
    margin-right: 10px;
    margin-left: 10px;
}
#hebergement_6{
    margin-left: 20px;
}
.blue_star{
    color: #0065FC;
}
.grey_star{
    color: #F2F2F2;
}

.bold{
    font-weight: 700;
}
.bold:not(strong){
    font-size: 18px;    
}

/* Populaire */

#Populaires{
    background-color: #F2F2F2;
    border-radius: 20px;
    float: right;
    padding: 25px;
    justify-content: space-between;
    width: 400px;
}
#Populaires h2{
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 28px;
}

#hebergement_Populaire{
    display: flex;
}

#titre_populaire{
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;

}
.populaire_card{
    display: flex;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 5px 5px 13px #d1d1d1;
}


.image_populaire{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 130px;
    height: 162px;
    object-fit : cover;
}  
.populaire_text{
    margin: 15px;
}
#titre_populaire i{
    margin-left: 25px;
    margin-top: 25px;
}
/* Filtre  */

.list_filtres{
    display: flex;
    padding-left: 0px;
    font-weight: 600;
    margin-top: 30px;
}

.name_filter{
    padding-left: 15px;
    padding-right: 15px;
}
.list_filtres>li{
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 48px;
    margin-left: 30px;
}
.filtre{
    margin-left: -3px;
    border-radius: 30px;
    background-color: #DEEBFF;
    width: 50px;
    display: flex;
    justify-content: center;
    color: #0065FC;
}
.info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.icon_info{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 80px;
    width: 30px;
    height: 30px;
    color: #0065FC;
    margin-right: 20px;
}
.icon_info i {

    padding: 10px;
}
.filtre i{
    margin: 17px;
}

.list_flitres>img{
    color: #0065FC;
}



.titre{
    width: 100%;
}

/* Activités */
.Activititre{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
}
#Activity_card{
    display: flex;
}

.column{
    width: 320px;
}
#Activite_1{
    width: 320px;
    margin-left: 0;
    margin-right: 32px;
}
#Activite_2{
    height: 295px;    
    width: 320px;
    margin-right: 32px;
}
#Activite_3{
    width: 320px;
    height: 231px;
    margin-right: 32px;
}
#Activite_4{
    width: 320px;
    margin-left: 60px;
    margin-right: 32px;
}
#Activite_5{
    width: 320px;
    height: 255px;
}
#Activite_6{
    width: 320px;
    height: 271px;

}
.card{
    border-radius: 15px;
    margin: 20px;
    box-shadow: 5px 5px 13px #d1d1d1;
}
.card p{
    display: flex;
    justify-content: center;
}
.img_activity1{
    width: 320px;
    height: 480px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
.img_activity2{
    width: 320px;
    height: 235px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
.img_activity3{
    width: 320px;
    height: 165px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
.img_activity4{
    width: 320px;
    height: 480px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
.img_activity5{
    width: 320px;
    height: 195px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}
.img_activity6{
    width: 320px;
    height: 210px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit : cover;
}

/* Footer */
footer{
    background-color: #F2F2F2;
    margin-top: 50px;
    padding-bottom: 20px;
    line-height: 30px;
}
#footer_li{
    display: flex;
    justify-content: space-around;
}
footer li{
    list-style: none;
}
footer ul p{
    font-weight: 800;
}